/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  width:100%;
  height:100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.page-card{
          width: 400px;
          height: 600px;
          background-color: white;

          position:absolute; /*it can be fixed too*/
          left:0; right:0;
          top:0; bottom:0;
          margin:auto;

          /*this to solve "the content will not be cut when the window is smaller than the content": */
          max-width:100%;
          max-height:100%;
          overflow:auto;
          text-align: center;
        }

.page-card h1{
  color : #b61924;
}

.profile-img{
  height: 200px;
  width:  200px;
  background-color: #b61924;
  display:block;
  border-radius:100%;
  margin-bottom: 20px;
  border: 0;
}

.social{
  padding-top:20px;
}
.social a{
  color: black;
}
.social a:hover{
  color:#b61924;
}
